* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #14213d;
  color: #edf2f4;
  line-height: 1.6;
    background: linear-gradient(90deg, #14213d, #0c161a, #1e1e2f);
  background-size: 300% 300%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



h1, h2, h3 {
  color: #edf2f4;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: linear-gradient(270deg, #457b9d, #d904277e, #ef233b98, #264653);
  background-size: 400% 400%;
  animation: gradientShift 6s ease infinite;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


header .containerheader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .logo {
  width: 400px;
  height: auto;
  margin-left: 30%;
  animation: fadeInLogo 2s ease-in-out forwards;
}

header nav {
  position: relative;
  margin-left: 30px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px; 
  margin: 0;
}

header nav ul li {
  position: relative;
}

header nav ul li a {
  color: #edf2f4;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none; 
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  padding: 15px 25px; 
  border-radius: 6px;  
}

header nav ul li a:hover {
  color: #14213d;
  transform: scale(1.05); 
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); 
}

header nav ul li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #d90429;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

header nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #14213d; 
}

@keyframes slideInHeader {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInLogo {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


  
main {
    padding: 50px 20px;
    text-align: center;
}

#about-us {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    color: #edf2f4;
}

#about-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 20px;
}

.about-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.team-section {
    margin-top: 50px;
    background: linear-gradient(135deg, #264653, #2b2d42);
    padding: 30px;
    border-radius: 10px;
}

.team-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.team-member:hover {
    transform: scale(1.1);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #e76f51;
    transition: border-color 0.3s;
}

.team-member img:hover {
    border-color: #457b9d;
}

.team-member h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.team-member p {
    font-size: 1rem;
    color: #8d99ae;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #ffffff; 
}

/* Branches */
.branches-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.branch {
  background: linear-gradient(135deg, #264653, #2b2d42);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.branch-title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.branch-image {
    max-width: 100%;
    height:250px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.branch-map {
  margin: 2rem auto;
  width: 60%; 
  height: auto; 
  border-radius: 15px; 
  overflow: hidden; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #264653, #457b9d); /*gradient background*/
  padding: 10px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.branch-map:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
}


.branch-hours, 
.branch-description {
    font-size: 1rem;
    color: #ffffff; 
    margin-bottom: 0.5rem;
}

/*Table*/
.store-table {
    width: 90%;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: #0000001f; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.store-table th, 
.store-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #d90429; 
}

.store-table th {
    background-color: #14213d;
    color: #edf2f4; 
}

.store-table tr:hover {
    background-color: #8d99ae;
    color: #edf2f4;
}

.store-table tfoot {
    text-align: center;
    background-color: #ef233c; 
    color: #edf2f4; 
    font-weight: bold;
}

footer {
    background-color: #1d3557;
    padding: 40px 0;
    color: #a8dadc;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .footer-section {
    width: 30%;
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    font-size: 1.4em;
    margin-bottom: 15px;
  }
  
  .footer-section p, .footer-section a {
    color: #a8dadc;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .footer-section a:hover {
    color: #e76f51;
    transform: scale(1.1);
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #457b9d;
    padding-top: 15px;
    font-size: 0.8em;
    color: #a8dadc;
  }

@media (max-width: 768px) {
    header .containerheader {
      flex-direction: column;
      align-items: center;
    }
  
    header .logo {
      margin-left: 0; 
      width: 200px;
      height: auto;
      margin-bottom: 20px; 
    }
  
    header nav ul {
      flex-direction: column;
      align-items: center; 
      gap: 20px;
    }
  
    header nav ul li a {
      font-size: 16px; 
      text-align: center; 
    }
  }

  @media (max-width: 768px) {
    .hero-container {
      height: 400px;
    }
  
    .slideshow-container {
      height: 100%;
    }
  
    .hero-image {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .categories {
      flex-direction: column; 
      gap: 30px;
      align-items: center;     }
  
    .category {
      width: 90%; 
      margin: 0; 
    }
  
    .category-img {
      width: 100%; 
      height: auto;
    }

    .category h3, .category p {
      text-align: center;
    }
  }
  

  @media (max-width: 480px) {
    body {
      padding: 0 10px; 
    }
  
    header nav ul li a {
      font-size: 14px;
    }
  
    .hero-container {
      height: 300px;
    }
  
    .category {
      width: 100%; 
      padding: 10px; 
    }
  
    footer .footer-container {
      flex-direction: column; /* 
      align-items: center;
    }
  
    footer .footer-section {
      width: 100%; 
    }
  
    .footer-bottom {
      font-size: 0.7em;
    }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    z-index: 999; 
  }
  
  .hamburger-menu .bar {
    width: 30px;
    height: 3px;
    background-color: #edf2f4;
    border-radius: 5px;
  }

  .menu-toggle {
    display: none;
  }

  #nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  #nav-list li a {
    color: #edf2f4;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  @media (max-width: 768px) {
    header .containerheader {
      flex-direction: column;
      align-items: center;
    }
  
    header .logo {
      width: 200px;
      height: auto;
      margin-bottom: 20px;
    }

    header nav ul {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      display: none;
      width: 100%;
      padding: 20px 0;
      background-color: #2b2d42; 
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
  
    .hamburger-menu {
      display: flex;
    }
  
    .menu-toggle:checked + .hamburger-menu + #nav-list {
      display: flex;
    }
  
    header nav ul li a {
      font-size: 20px;
      padding: 10px;
      width: 100%;
      text-align: center;
    }
